<h1>Signup</h1>
<form action ="/signup" method="POST">
<input type="text" name="name" id="userName">
<label for="userName">Name</label>
<input type="text" name="password" id="password">
<label for="password">Password</label>
<button>Submit</button>
</form>
